<div class="popup-background" [style.display]="ShowPopup?'block':'none'">
    <div class="modal modal-fixed-footer" style="margin-top: 50px; height: 300px" [style.display]="ShowPopup?'block':'none'">
        <div id="ModalDialog" class="modal-content">
          <h4 class="center">{{(WordsByCategory.length == 0 ? "" : WordsByCategory[TotalCountOfTask].Original).toUpperCase()}}</h4>
          <div class="row center">
            {{(WordsByCategory.length == 0 ? "" : WordsByCategory[TotalCountOfTask].Transcription)}}
          </div>
          <div class="row center" *ngIf="ShowTranslate">
            {{(WordsByCategory.length == 0 ? "" : WordsByCategory[TotalCountOfTask].Translate)}}
          </div>
          <div id="msg-result-form" class="green-text"><br/>{{ResultMessageOfTask}}</div>
        </div>
        <div class="modal-footer">
            <a class="btn disabled" style="margin-right:3px;" id="close-btn" (click)="Close()">Close</a>
            <a class="btn" style="margin-right:3px;" id="end-btn" (click)="EndOfTask()">End</a>
            <a class="btn" style="margin-right:3px;" id="next-btn" (click)="Next()">Next</a>
            <a class="btn" style="margin-right:3px" id="dknw-btn" (click)="DKnow()">I don't know</a>
            <a class="btn" (click)="0" id="knw-btn" (click)="Know()">I know</a>
        </div>
    </div>
</div>
<label style="position:relative;top:50px;">Choose category</label>  
<select id="selectCategoryOfTask" class="browser-default" style="margin-top: 50px;" (change)="UpdateCategory()">
    <option value="" disabled selected>Choose your option</option>
    <option value="" *ngFor="let c of Categories">{{c}}</option>
</select>
<a class="btn right" style="margin-top:25px" (click)="Start(null)">Start</a>
<p class="red-text" style="margin-top:25px">{{ErrorMessage}}</p>
<table [style.display]="ChoosenCategory === '' ? 'none' : 'table'" style = "margin-bottom: 25px;">
    <thead>
      <tr>
          <th>Original</th>
          <th>Translate</th>
          <th>Transcription</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let word of WordsByCategory">
        <td>{{word.Original}}</td>
        <td>{{word.Translate}}</td>
        <td>{{word.Transcription}}</td>
        <td><a class="btn" (click)="AddToDictionary(word)">Add</a></td>
      </tr>
    </tbody>
</table>
