html, body{
    height: 100% !important;
    background: #e6e6e6;
}
#app {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #32353a;
}
button{
      outline:none;
      margin: 10px;
      cursor: pointer;
      width: 85px;
      border: none;
      border-radius: 10px;
      width: 155px;
      height: 25px;
      background: rgb(75, 75, 75);
      font-size: 16px;
      color: rgb(248, 248, 248);
}
* {
    margin: 0%;
    padding: 0%;
}
a {
      outline: none;
      text-decoration: none;
      color: rgb(75, 75, 75);
}
span{
    color: rgb(75, 75, 75);
}
.span-error-message{
      color: red;
      font-size: 16px;
}
.span-complete-message{
      color: green;
      font-size: 20px;
}
label{
    color: rgb(75, 75, 75);
}
.form-border{
      margin-bottom: 1%;
}
.routes-admin{
    display: inline-block;
    line-height: 2;
    color: #666;
    text-align: center;
    padding: 14px 16px;
}
.rules-view-list{
    margin: 5% 20% 5% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.rules-list--element{
    cursor: pointer;
    margin: 10px;
    padding: 3px;
    text-align: left;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
.rules-list--element.admin{
    cursor: default;
}
.span-rule--element{
    margin: 15px;
    font-size: 18px;
}
.button-close{
    position: absolute;
    right: 18.65%;
    top: 75px;
}
.rule-edit{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.search-form{
    outline:none;
    background: rgb(248, 248, 248);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
    height: 25px;
    width: 185px;
}
.sentences-view{
    margin: 5% 20% 5% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.sentences-list--element{
    margin: 10px;
    padding: 3px;
    text-align: left;
    cursor: default;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
.span-sentence--element{
    margin: 15px;
    font-size: 18px;
}
.sentence-edit{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.select-form{
    outline:none;
    background: rgb(248, 248, 248);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;
    resize: none;
    height: 25px;
    width: 155px;
    text-decoration: none;
}
.users-view{
    margin: 5% 20% 5% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.users-list--element{
    margin: 10px;
    padding: 3px;
    text-align: left;
    cursor: default;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
.span-user--element{
    margin: 15px;
    font-size: 18px;
}
.words-view{
    margin: 5% 20% 5% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.words-list--element{
    margin: 10px;
    padding: 3px;
    text-align: left;
    cursor: default;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
.span-word--element{
    margin: 15px;
    font-size: 18px;
}
.word-edit{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.footer img:hover{
    cursor: pointer;
}
.footer{
    background-color: rgba(205, 205, 205, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header img:hover{
    cursor: pointer;
}
.header{
    background-color: rgba(0,0,0,.1);
    display: flex;
    width: 100%;
}
.header-icons{
    display: flex;
    width: 10%;
}
.header-admin-navbar{
    white-space: pre-line;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.routes-admin:hover {
    background-color: #ddd;
}
.square {
  margin-left: 120px;
  position: absolute;
  z-index: 999;
  counter-reset: li;
  list-style: none;
  background:rgba(201, 201, 201, 0.9);
  padding: 10px;
}
.square li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  border-top: 2px solid rgb(17, 17, 17);
  transition: .3s linear;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid rgb(21, 21, 21);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: rgb(17, 17, 17);
  color: rgb(248, 248, 248);
  font-weight: bold;
  text-align: center;
  transition: .3s linear;
}
.square li:hover {
    border-top: 2px solid rgb(21, 21, 21);
    cursor: pointer;
}
.square li:hover:before {
  border: 2px solid rgb(21, 21, 21);
  background: rgb(200, 200, 200);
}
.link{
  outline: none;
}
.login{
    margin: 5%;
    text-align: center;
}
.authentification-form{
    margin-top: 2%;
}
.registration-form{
    margin-top: 2%;
}
.form{
    font-size: 18px;
}
.input-form{
    border: none;
    outline:none;
    border-radius: 10px;
    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 16px;
}
.input-form--error{
    border: solid;
    border-color: red;
    border-width: 0.5px;
}
.messages-view{
    margin-right: 55px;
    position: fixed;
    right: 1%;
    bottom: 2.5%;
    width: 450px;
    height: 500px;
    text-align: center;
    display: table;
    background: rgb(248, 248, 248);
    border: solid 1px;
    outline:none;
    border-radius: 10px;
}
.messages{
    margin: 0.5%;
    margin-left: 10px;
    height: 345px;
    overflow-y: scroll;
}
.new-mess-users-list{
    margin: 0.5%;
    margin-left: 10px;
    height: 345px;
    overflow-y: scroll;
}
.new-mess-users-element{
    cursor: pointer;
}
.new-mes-select{
    background:green;
    width: 10px;
    height: 10px;
}
.new-mes-in{
    -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
    border-radius: 50em;
    -webkit-animation: blink-mes 3s linear infinite;
    animation: blink-mes 3s linear infinite;
}
@-webkit-keyframes blink-mes {
    0% { background: rgba(34, 34, 34, 1); }
    50% { background: rgba(34, 34, 34, 0); }
    100% { background: rgba(34, 34, 34, 1); }
}
@keyframes blink-mes {
    0% { background: rgba(34, 34, 34, 1); }
    50% { background: rgba(34, 34, 34, 0); }
    100% { background: rgba(34, 34, 34, 1); }
}
.label-form-mes{
    background: rgba(0,0,0,.15);
    border-radius: 10px 10px 0 0;
    text-align: left;
    padding: 0.5%;
    height: 25px;
    font-weight: bold;
}
.message-beneficiary{
    margin: 0.5%;
    text-align: left;
    padding: 0.5%;
    border: none;
    border-bottom-style: dashed;
    border-width: 0.7px;
    outline:none;
    font-size: 16px;
}
.message-sender{
    margin: 0.5%;
    text-align: right;
    padding: 0.5%;
    border: none;
    border-bottom-style: dashed;
    border-width: 0.7px;
    outline:none;
    font-size: 16px;
}
.label-sender{
    margin: 0.5%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.label-beneficiary{
    margin: 0.5%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.input-form-mes{
    height: 50px;
}
.textarea-mes{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(75, 75, 75);
    outline: none;
    resize: none;
    padding: 0.5%;
}
.select-form-mes{
    outline:none;
    background: rgba(0,0,0,.1);
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    margin: 0.5%;
    resize: none;
    height: 25px;
    width: 350px;
    text-decoration: none;
}
.profile{
    background:rgba(205, 205, 205, 0.9);
    width: 173px;
    height: 119px;
    padding: 15px;
    left: 0;
    top: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
}
.span-anonymous{
    font-size: 20px;
}
.rule-view{
    text-align: left;
    width: 60%;
    margin: 2% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.span-view{
    font-size: 30px;
}
.span-rule--element{
    margin: 15px;
    font-size: 18px;
}
.sentence-task{
    margin: 5% 30% 5% 30%;
    text-align: center;
}
.sentence-input{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.users-view-list{
    margin: 5% 20% 5% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.users-list--element{
    margin: 10px;
    padding: 3px;
    text-align: left;
    cursor: default;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
.user-edit{
    resize: none;
    text-align: left;
    width: 95%;
    margin: 0.5% 2.5% 0% 2.5%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 10px;
}
.wordmap-task{
    margin: 5% 30% 5% 30%;
    text-align: center;
}
.wordmap-list--element{
    margin: 10px;
    padding: 3px;
    text-align: left;
    cursor: pointer;
    background: rgb(248, 248, 248);
    height: 35px;
    border: none;
    outline:none;
    border-radius: 10px;
}
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }