html, body{
    height: 100% !important;
    background: #e6e6e6 !important;
    margin: 0;
    padding: 0; 
}
#app {
    font-family:'Times new roman', sans-serif;
    font-size: 18px;
    color: #32353a;
}
a{
      outline: none;
      text-decoration: none;
      color: rgb(75, 75, 75);
}
span{
    color: rgb(75, 75, 75);
}
label{
    color: rgb(75, 75, 75);
}
.main-content{
    margin: 2% 5% 3% 5%;
    width: 90%;
}
.center-info{
    text-align: center;
}
.span-error-message{
    color: red;
    font-size: 16px;
}
.span-complete-message{
    color: green;
    font-size: 20px;
}
.routes-admin{
    display: inline-block;
    line-height: 2;
    color: #666;
    text-align: center;
    padding: 14px 16px;
}
.routes-admin:hover {
    background-color: #ddd;
}
.tasks-align{
    margin: 2% 20% 3% 20%;
    text-align: center;
}
.list--element{
    cursor: default;
    margin: 10px;
    padding: 10px;
    text-align: left;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 5px;
}
.pointer
{
    cursor: pointer;
}
.wordmap-list--element:hover{
    background: rgb(218, 218, 218);
}
.wordmap-list--element:hover:before{
    background: rgb(218, 218, 218);
    background: rgb(248, 248, 248);
}
.selected-wordmap{
    border: solid;
    border-color: rgb(75, 75, 75);
    border-width: 1px;
}
.view-list{
    margin: 2% 20% 3% 20%;
    width: 60%;
    text-align: center;
    display: table;
}
.span--element{
    margin: 15px;
    font-size: 18px;
}
.span-view{
    font-size: 30px;
}
.icon-close{
    position: absolute;
    right: 18.65%;
    top: 100px;
    cursor: pointer;
}
.admin-edit{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 19% 0% 19%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 5px;
}
.select-form{
    outline:none;
    background: rgb(248, 248, 248);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin: 0.5%;
    resize: none;
    height: 25px;
    text-decoration: none;
}
.footer img:hover{
    cursor: pointer;
}
.footer{
    background-color: rgba(205, 205, 205, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header-admin-navbar{
    white-space: pre-line;
    width: 90%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.square {
  padding: 0;
  margin-left: 105px;
  margin-top: 0;
  position: absolute;
  z-index: 999;
  counter-reset: li;
  list-style: none;
  background:rgba(201, 201, 201, 0.9);
  padding: 10px;
}
.square li {
  position: relative;
  margin: 0 0 10px 0em;
  padding: 4px 8px;
  border-top: 2px solid rgb(17, 17, 17);
  transition: .3s linear;
}
.square li:last-child {margin-bottom: 0;}
.square li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid rgb(21, 21, 21);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: rgb(17, 17, 17);
  color: rgb(248, 248, 248);
  font-weight: bold;
  text-align: center;
  transition: .3s linear;
}
.square li:hover {
    border-top: 2px solid rgb(21, 21, 21);
    cursor: pointer;
}
.square li:hover:before {
  border: 2px solid rgb(21, 21, 21);
  background: rgb(200, 200, 200);
}
.input-form{
    border: none;
    outline:none;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 16px;
}
.input-form--error{
    border: solid;
    border-color: red;
    border-width: 0.5px;
}
.messages-view{
    margin-right: 55px;
    position: fixed;
    right: 1%;
    bottom: 2.5%;
    width: 350px;
    height: 400px;
    text-align: center;
    display: table;
    background: rgb(248, 248, 248);
    border-radius:5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    outline:none;
}
.messages{
    margin: 0.5%;
    margin-left: 10px;
    height: 280px;
    overflow-y: scroll;
}
.select-form-mes.messages-input-choosen{
    margin-left: -19px;
}
.new-mess-users-list{
    margin: 0.5%;
    margin-left: 10px;
    height: 280px;
    overflow-y: scroll;
}
.new-mess-users-element{
    cursor: pointer;
}
.new-mes-select{
    background:green;
    width: 10px;
    height: 10px;
}
.new-mes-in{
    -webkit-border-radius: 50em;
	-moz-border-radius: 50em;
    border-radius: 50em;
    -webkit-animation: blink-mes 3s linear infinite;
    animation: blink-mes 3s linear infinite;
}
.label-form-mes{
    background: rgba(0,0,0,.15);
    border-radius: 5px 5px 0 0;
    text-align: left;
    padding: 0.5%;
    height: 25px;
    font-weight: bold;
}
.message-beneficiary{
    margin: 0.5%;
    text-align: left;
    padding: 0.5%;
    border: none;
    border-bottom-style: dashed;
    border-width: 0.7px;
    outline:none;
    font-size: 16px;
    word-wrap: break-word;
    width: 310px;
}
.message-sender{
    margin: 0.5%;
    text-align: right;
    padding: 0.5%;
    border: none;
    border-bottom-style: dashed;
    border-width: 0.7px;
    outline:none;
    font-size: 16px;
    word-wrap: break-word;
    width: 310px;
}
.label-sender{
    margin: 0.5%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.label-beneficiary{
    margin: 0.5%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.input-form-mes{
    height: 50px;
}
.textarea-mes{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    outline: none;
    resize: none;
    padding: 0.5%;
    float: left;
    margin-left: 15px;
}
.select-form-mes{
    outline:none;
    background: rgba(0,0,0,.1);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    margin: 0.5%;
    resize: none;
    height: 25px;
    width: 250px;
    text-decoration: none;
}
@-webkit-keyframes blink-mes {
    0% { background: rgba(34, 34, 34, 1); }
    50% { background: rgba(34, 34, 34, 0); }
    100% { background: rgba(34, 34, 34, 1); }
}
@keyframes blink-mes {
    0% { background: rgba(34, 34, 34, 1); }
    50% { background: rgba(34, 34, 34, 0); }
    100% { background: rgba(34, 34, 34, 1); }
}

.rule-view{
    text-align: left;
    width: 60%;
    margin: 2% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 5px;
}
.sentence-input{
    resize: none;
    text-align: left;
    width: 60%;
    margin: 0.5% 20% 0% 20%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 5px;
}
.user-edit{
    resize: none;
    text-align: left;
    width: 95%;
    margin: 0.5% 2.5% 0% 2.5%;
    padding: 0.5%;
    background: rgb(248, 248, 248);
    border: none;
    outline:none;
    border-radius: 5px;
}
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
  
  /* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
  
  /* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
  
.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
  
  /* Animation */
  
@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    top: 20%;
    left: 50%;
    width: 300px;
    margin: auto auto auto -170px;
    padding:20px;
    background-color: #e6e6e6;
    border-radius:5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
}
div.disabled
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

*::-webkit-scrollbar {
    width: 0.5em;
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.15);
  outline: 1px solid slategrey;
}
