<nav>
    <div class="nav-wrapper">
      <a data-target='dropdown1' href="javascript:0" class="brand-logo left dropdown-trigger">
          <img 
            title="home" 
            style="height: 64px; padding-left: 10px;filter: invert(100%);" 
            src="http://static1.squarespace.com/static/579012ce15d5dbcc832517ab/t/57a37e16ff7c508424d40845/1470332439749/CJ-favicon.png?format=1000w">
      </a>
      <a class="brand-logo center">{{GetCurrentPage()}}</a>
      <ul id="nav-mobile" class="right">
        <li><a [routerLink]="['login']"><i class="material-icons" title="home">home</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a [routerLink]="['user-dictionary']"><i class="material-icons" title="dictionary">sort_by_alpha</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0"><i class="material-icons dropdown-trigger" data-target='dropdown2' title="grammar">library_books</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0"><i class="material-icons dropdown-trigger" data-target='dropdown3' title="trainings">lightbulb_outline</i></a></li>
        <li [style.display]="apiService.RoleOfUser === 'admin' ? 'block' :'none'"><a href="javascript:0"><i class="material-icons dropdown-trigger" data-target='dropdown4' title="admin panel">build</i></a></li>
      </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
<div>

<div class="engman-footer">
    <div class="container center">
        © 2018 <a href="https://lingualeo.com/" class="white-text" target="_blank">lingualeo.com</a> - from this source was taken material
    </div>
</div>

<!--Dropdown menu of profile-->
<ul id='dropdown1' class="dropdown-content">
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a [routerLink]="['profile-info']">Settings</a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0" (click)="Logout()">Logout</a></li>
</ul>

<!--Dropdown menu of grammar-->
<ul id='dropdown2' class="dropdown-content">
        <li><a [routerLink]="['rules']">Rules</a></li>
        <li><a [routerLink]="['practice-rules']">Practice Rules</a></li>
</ul>

<!--Dropdown menu of trainings-->
<ul id='dropdown3' class="dropdown-content">
        <li><a href="javascript:0">Word-Translate</a></li>
        <li><a href="javascript:0">Translate-Word</a></li>
        <li><a href="javascript:0">Word Cards</a></li>
        <li><a href="javascript:0">Guesses the images</a></li>
</ul>

<!--Dropdown menu of admin panel-->
<ul id='dropdown4' class="dropdown-content">
        <li><a href="javascript:0">Rules</a></li>
        <li><a href="javascript:0">Sentences</a></li>
        <li><a href="javascript:0">Words</a></li>
        <li><a href="javascript:0">Users</a></li>
        <li><a href="javascript:0">Guesses the images</a></li>
</ul>