<nav>
    <div class="nav-wrapper">
      <span data-target='dropdown1' href="javascript:0" class="brand-logo left dropdown-trigger">
          <img 
            title="home" 
            style="height: 64px; padding-left: 10px;filter: invert(100%);" 
            src="http://static1.squarespace.com/static/579012ce15d5dbcc832517ab/t/57a37e16ff7c508424d40845/1470332439749/CJ-favicon.png?format=1000w">
      </span>
      <a class="brand-logo center">{{GetCurrentPage()}}</a>
      <ul id="nav-mobile" class="right">
        <li><a [routerLink]="['login']"><i class="material-icons" title="home">home</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a [routerLink]="['user-dictionary']"><i class="material-icons" title="dictionary">sort_by_alpha</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0"><i class="material-icons dropdown-trigger" data-target='dropdown2' title="grammar">library_books</i></a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0"><i class="material-icons dropdown-trigger" data-target='dropdown3' title="trainings">lightbulb_outline</i></a></li>
      </ul>
    </div>
</nav>

<app-messages-component></app-messages-component>

<div class="container">
    <router-outlet></router-outlet>
<div>

<div class="engman-footer">
    <div class="container center">
        © 2018 <a href="https://lingualeo.com/" class="white-text" target="_blank">lingualeo.com</a> - from this source was taken material
    </div>
</div>

<!--Dropdown menu of profile-->
<ul id='dropdown1' class="dropdown-content">
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a [routerLink]="['profile-info']">Settings</a></li>
        <li [style.display]="apiService.RoleOfUser.length > 0 ? 'block' :'none'"><a href="javascript:0" (click)="Logout()">Logout</a></li>
</ul>

<!--Dropdown menu of grammar-->
<ul id='dropdown2' class="dropdown-content">
        <li><a [routerLink]="['rules']">Rules</a></li>
        <li><a [routerLink]="['practice-rules']">Practice Rules</a></li>
</ul>

<!--Dropdown menu of trainings-->
<ul id='dropdown3' class="dropdown-content">
        <li><a [routerLink]="['word-translate']">Word-Translate</a></li>
        <li><a [routerLink]="['translate-word']">Translate-Word</a></li>
        <li><a [routerLink]="['word-card']">Word Cards</a></li>
        <li><a [routerLink]="['guesses-the-image']">Guesses the images</a></li>
</ul>