html,body
{
    width: 100%;
    height: 100%;
}
nav, .page-footer
{
    background: darkred !important;
}
.active
{
    color: darkred !important;
}
input:not(.browser-default):focus:not([readonly])
{
    border-bottom: 1px solid darkred !important;
    box-shadow: 0 1px 0 0 darkred !important;
}
.btn
{
    background: darkred !important;
}

.containter
{
    padding: 25px;
}

.engman-footer
{
    position: fixed;
    color: white;
    background: darkred;
    width: 100%;
    bottom: 0;
    left: 0;
}

.profile-popup
{
    background: darkred;
    width: 173px;
    height: 75px;
    left: 0;
    top: 64px;
    color: white;
    position: absolute;
    z-index: 99;
    text-align: center;
    box-shadow: 3px 5px 15px 0 rgba(0,0,0,.5);
    display: block;
}

.btn:hover
{
    background: rgba(0,0,0,0.1) !important;
}

.col
{
    margin-top: 10px;
}

.col.s6.m3:hover
{
    background-color: rgba(0,0,0,0.1) !important;
    cursor: pointer;
}

.modal
{
    top: 100px;
}

.dropdown-content
{
    top: 64px !important;
    opacity: 1 !important;
    width: 120px !important;
}

.dropdown-content li > a, .dropdown-content li > span
{
    color: darkred !important;
}

.hovered-rule
{
    position:relative;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: .2s all;
    z-index: 25;
}

.popup-background
{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.select-wrapper input.select-dropdown:focus 
{
    border-bottom: 1px solid darkred !important;
}

#toast-container
{
    width: 180px !important;
}

.animation-new-mess-blink {   
  animation: new-mess-blink 800ms alternate infinite;
}

@keyframes new-mess-blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}