USE [master]
GO
CREATE DATABASE [EngMan]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EngMan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EngMan]
GO
USE [EngMan]
GO
/****** Object:  Table [dbo].[RuleModels]    Script Date: 2/20/2018 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleModels](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Text] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.RuleModels] PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SentenceTasks]    Script Date: 2/20/2018 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentenceTasks](
	[SentenceTaskId] [int] IDENTITY(1,1) NOT NULL,
	[Sentence] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Translate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SentenceTasks] PRIMARY KEY CLUSTERED 
(
	[SentenceTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/20/2018 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2/20/2018 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL FOREIGN KEY REFERENCES [Users]([Id]),
	[BeneficiaryId] [int] NOT NULL FOREIGN KEY REFERENCES [Users]([Id]),
	[Text] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
	[CheckReadMes] [bit] NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 2/20/2018 2:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordId] [int] IDENTITY(1,1) NOT NULL,
	[Original] [nvarchar](max) NULL,
	[Translate] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[Transcription] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Words] PRIMARY KEY CLUSTERED 
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWords]    Script Date: 2/20/2018 2:03:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL FOREIGN KEY REFERENCES [Users]([Id]),
	[WordId] [int] NOT NULL FOREIGN KEY REFERENCES [Words]([WordId]),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GuessesTheImages]    Script Date: 2/20/2018 2:03:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GuessesTheImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WordId] [int] NOT NULL REFERENCES [Words]([WordId]),
	[Path] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.GuessesTheImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[RuleModels] ON 

SET IDENTITY_INSERT [dbo].[RuleModels] OFF
SET IDENTITY_INSERT [dbo].[SentenceTasks] ON 

INSERT [dbo].[SentenceTasks] ([SentenceTaskId], [Sentence], [Category], [Translate]) VALUES (7, N'I know something.', N'Present Simple', N'Я знаю что-то.')
INSERT [dbo].[SentenceTasks] ([SentenceTaskId], [Sentence], [Category], [Translate]) VALUES (8, N'You look fine.', N'Present Simple', N'Ты выглядишь прекрасно.')
INSERT [dbo].[SentenceTasks] ([SentenceTaskId], [Sentence], [Category], [Translate]) VALUES (9, N'I prefer cash.', N'Present Simple', N'Я предпочитаю наличные.')
GO
SET IDENTITY_INSERT [dbo].[SentenceTasks] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [Role]) VALUES (1, N'Admin', N'Creator', N'admin@admin.com', N'DefaultAdmin9856', N'admin')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [Role]) VALUES (2, N'Sergey', N'Mokin', N's.a.mokin@list.ru', N'adminnew', N'admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[UserWords]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserWords]  WITH CHECK ADD FOREIGN KEY([WordId])
REFERENCES [dbo].[Words] ([WordId])
GO

